body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20%;
    background: white;
    border-radius: 20px;
}
h1{
    font-size: 45px;
    color: black;
    font-weight: 900;
}
#weight, p{
    font-size: 30px;
    padding: 12px;
    margin: 10px;
}
#btn{
    font-size: 30px;
    background: blue;
    color: white;
    border: none;
    padding: 12px;
    font-weight: 700;
    margin-bottom: 9px;
}
p span{
    color: blue;
    font-size: larger;
    font-weight: 600;
}
#error-txt{
    padding: 2px;
    background: rgba(255,99,71,0.4);
    color: darkred
}
p{
    display: none;
}